.addToCartPage {
    font-size: 14px;
}

.addToCartPage h1 {
    font-size: 2rem;
}

.addToCartPage h2 {
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 5px solid #e3edc2;
    color: #006da0;
}

.addToCartPage h3 {
    color: #006da0;
}

.addToCartPage > p {
    color: #666;
}
/* 
.addToCartPage .products {
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.addToCartPage .products ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.addToCartPage .products li {
    padding: 8px 0;
}

.addToCartPage .products li p {
    margin: 0 0 8px;
}

.addToCartPage .products input + button {
    margin-left: 5px;
} */
