body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    background-color: rgba(153, 161, 179, 0.1);
    border-bottom-color: rgb(229, 231, 235);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(229, 231, 235);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(229, 231, 235);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(229, 231, 235);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(64, 71, 86);
    color-scheme: light;
    display: block;
    font-family: "Source Code Pro", ui-monospace, SFMono-Regular, Menlo, Monaco,
        Consolas, "Liberation Mono", "Courier New", monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    height: auto;
    line-height: 36px;
    overflow-wrap: break-word;
    padding: 5px 1rem;
    tab-size: 4;
    text-decoration-line: none;
    unicode-bidi: isolate;
    width: auto;
    -webkit-font-smoothing: antialiased;
    margin: 10px 0;
}

html,
body {
    height: 100%;
}

#root {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}
