.memo1 button {
    margin-left: 5px;
}
.memo1 .child {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid green;
}

.memo1 h3 {
    margin: 0 0 10px;
}
.memo1 h4 {
    margin: 0;
}
.memo1 p {
    margin: 5px 0;
}
