.products {
    font-size: 14px;
}
.products h1 {
    margin: 1rem 0;
}
.products ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.products li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.products p {
    margin: 0;
}
