.productsPage {
    font-size: 14px;
}

.productsPage h1 {
    font-size: 2rem;
}

.productsPage h2 {
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 5px solid #e3edc2;
    color: #006da0;
}

.productsPage h3 {
    color: #006da0;
}

.productsPage > p {
    color: #666;
}

.productsPage .products {
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.productsPage .products ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.productsPage .products li {
    padding: 8px 0;
}

.productsPage .products li p {
    margin: 0 0 8px;
}

.productsPage .products input + button {
    margin-left: 5px;
}
