.productsPage {
    font-size: 14px;
}
.productsPage h1 {
    margin: 1rem 0;
}
.productsPage ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.productsPage li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.productsPage p {
    margin: 0;
}
