.useContextPage {
    font-size: 14px;
}

.useContextPage > p {
    margin: 10px 0;
}

.useContextPage h1 {
    margin-bottom: 2rem;
}

.useContextPage h2 {
    padding-top: 1rem;
    border-top: 1px solid #ddd;
}

.useContext1 {
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.useContext1 h1 {
    margin: 0;
}

.useContext1 header,
.useContext1 .content,
.useContext1 footer {
    padding: 1rem;
    border-top: 1px solid #ddd;
}

.dark,
.theme-dark {
    background-color: #000;
    color: #fff;
}

.noDark,
.theme-normal {
    background-color: #fff;
    color: #000;
}

.userContext3 {
    overflow: hidden;
    padding: 1rem;
    border-radius: 10px;
}
.userContext3 h1 {
    margin: 0 0 10px;
}
.userContext3 button {
    margin-right: 10px;
}
.panel-dark {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.panel-dark button {
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}
