.useEffect1 {
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.useEffect1 span {
    margin-left: 5px;
}
.useEffect1 h3 ~ h3 {
    padding-top: 1rem;
    border-top: 1px dashed #ddd;
}
